@font-face {
  src: url('../fonts/MontserratRegular.ttf') format('truetype');
  font-family: montserratRegular;
}

@font-face {
  src: url('../fonts/MontserratSemiBold.ttf') format('truetype');
  font-family: montserratSemiBold;
}

* {
  font-family: 'montserratSemiBold', monospace;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  background-color: #c1c1c1;
  box-sizing: border-box;
}
